<% include partials/header %>
    <div class="blog-show-container">
        <div class="blog-show-content">
            <div class="img-container">
                <img src="<%=blog.image%>" alt="">
                <div><%=blog.date%></div>
            </div>
            <h1><%=blog.title%></h1>
            <hr>
            <p><%- blog.content %></p>
            <div class="show-btns">
                <form action="/blogs/:id?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
                <a href="/blogs/<%=blog._id%>/edit"><button>EDIT</button></a>
            </div>
        </div>
    </div>
<% include partials/footer %>